{% extends 'dont_forget/base.html' %}

{% block header %}
<h3>{{topic}}</h3>
{% endblock header %}


{% block content %}

<ul>
    {% for entry in entries %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>{{entry.created_on|date:"D d M Y"}}
            <small>
                <a class="btn btn-default btn-xs" href="{% url 'dont_forget:edit_entry' entry.id %}" id="add-entry">Edit</a>
            </small>
          </h4>
        </div>
        <div class="panel-body">
            {{entry.text|linebreaks}}

        </div>

    </div>  <!--panel-->
    {% endfor %}
    <p><a class="btn btn-default btn-sm" href = "{% url 'dont_forget:new_entry' topic.id %}" id="add-entry">Add a new entry</a></p>
</ul>



{% endblock content %}
