{% extends 'dont_forget/base.html' %}

{% block header %}
<h4> All Subjects</h4>
{% endblock header %}

{% block content %}

<ul>
    {% for topic in topics %}
    <li id="no-bullet">
         <div class="panel panel-default">
        <div class="panel-body">
        <h5>
            <a href = "{% url 'dont_forget:topic' topic.id %}" id="topic-links">{{topic}}</a>
            </h5>
        </li>

    {% empty %}
        <li>No subjects have been added yet.</li>
    {% endfor %}
    </br>
       <h5><a class="btn btn-secondary" href="{% url 'dont_forget:new_topic' %}" id="add-subject">Add a new subject</a></h5>
        </div>
     </div>
    </ul>



{% endblock content %}
