{% extends 'dont_forget/base.html' %}

{% block header %}
<h3>{{topic}}</h3>
{% endblock header %}




{% block content %}
<p><a href = "{% url 'dont_forget:new_entry' topic.id %}" id="add-entry">Add a new entry:</a></p>
<ul>
    {% for entry in entries %}
    <div class="card bg-light mb3" style="width: 60rem;">
        <div class="card-header">
            <h5>{{entry.created_on|date:"D d M Y"}}
            <small>
                <a href="{% url 'dont_forget:edit_entry' entry.id %}" id="edit-entry">Edit</a>
            </small>
                </h5>
        </div>
        <div class="card-body">
            {{entry.text|linebreaks}}
        </div>
    </div>  <!--panel-->

    {% empty %}
    <li>There are no entries for this subject yet.</li>
    {% endfor %}
</ul>



{% endblock content %}