 #navbar-links li a{
   color: #0f0f11;
   text-decoration: none;

   }

#navbar-name{
    color: #0f0f11;
    text-decoration: none;
    }

#navbar-main{
   background-color: #9097af;
   margin-bottom: 20px;
 }

.jumbotron{
    margin-top: 20px;
    background-color: #f7f7f9 !important;

}

#register{
    color: #0f0f11;
    text-decoration: none;
}


#body{
    background-color: #ffffff;
}


#edit-links{
  color: #0f0f11;
  text-decoration: none;
}

#add-subject{
    color: #9097af;
    text-decoration: none;
    border: 1px solid;
}


#add-entry{
     color: #9097af;
     text-decoration: none;
     border: 1px solid;
}


#topic-links{
    color: #0f0f11;
    text-decoration: none;


}


#topic-entry{
    color: #0f0f11;
    text-decoration: none;

}

#topic-panel{
    max-width: 400px;

}

#no-bullet{
 list-style-type: none;

}

#panel-heading{
    background-color:  #f7f7f9 !important;

}

/*------------notes styling---------------- */


.container-fluid{
    border: 5px, solid, #9097af;
	border-radius: 20px;
}


#note-content{
	background-color: #f7f7f9;
	border: 2px, solid, #9097af !important;
	border-radius: 15px !important;
	padding: 25px;
}

#content > h2 {
	font-size: 20px;
	text-align: center;
	padding-top: 0;
}

#delete-note{
    color: #9097af;
    text-decoration: none;
    border: 1px solid;
}



#add-btn{
    background-color: #9097af;
}


.t10 {
	margin-top: 10px;
}
.t20 {
	margin-top: 20px;
}
#note-complete{
	background-color: #9097af;
	color:  #0f0f11;
}

.list-group-item {
	color:  #0f0f11;
	text-decoration: none;
}

