 #navbar-links li a{
   color: #0f0f11;
   text-decoration: none;

   }

#navbar-name{
    color: #0f0f11;
    text-decoration: none;
    }

#navbar-main{
   background-color: #9097af;
   margin-bottom: 20px;
 }

.jumbotron{
    margin-top: 20px;

}

#register{
    color: #0f0f11;
    text-decoration: none;
}


#body{
    background-color: #ffffff;
}

#sub-button{
    background-color: #9097af;
    color: #0f0f11;
}

#edit-links{
  color: #0f0f11;
  text-decoration: none;
}

#add-subject{
    color: #9097af;
    text-decoration: none;
}


#add-entry{
     color: #9097af;
     text-decoration: none;
}


#topic-links{
    color: #0f0f11;
    text-decoration: none;


}


#edit-entry{
   color: #0f0f11;
   text-decoration: none;

}


#topic-entry{
    color: #0f0f11;
    text-decoration: none;

}


#no-bullet{
 list-style-type: none;

}

